.intro {
	animation: 600ms ease 600ms 1 normal forwards running intro;
	display: flex;
	flex-direction: column;
	opacity: 0;
	width: 100%;
}
.intro .background {
	align-self: flex-start;
	position: absolute;
	width: 30%;
  height: 35%;
	max-height: 360px;
	background-position: bottom;
	background-size: cover;
	background-image:
		url("../../images/vinidias.jpeg");
	z-index: -1;
}
@keyframes intro {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.intro h1 {
	font-family: "Rubik-Bold", sans-serif !important;
	color: var(--dark-gray);
	font-weight: 500;
	line-height: 35px;
	text-align: right;
	margin-bottom: 16px;
	margin-top: 60px;
	padding: 0 1vw;
	max-width: 20ch;
	z-index: 2;
	align-self: flex-end;
}
.intro .description {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: 30vh;
}
.intro h2 {
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0.5rem 0 0.25rem;

}

.intro p {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: medium;
	text-indent: 0.5rem;
}
@media (min-width: 680px) {
	.intro {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 5vh;
	}

	.intro .background {
		width: 35vw;	
		height: 40vw;
		margin-top: 22vh;
		position: relative;
		max-height: 100%;
	}
	.intro .description {
		width: 45%;
		align-self: flex-end;
		margin-top: 15vh;
	}
	.intro h1 {
		font-size: 3rem;
		text-align: left;
		line-height: 55px;
		align-self: center;
		margin: 2vh 10vw;
		position: absolute;
		top: 0;
		-webkit-margin-before: 180px !important;
	}

	.intro h2 {
		font-size: larger;
	}
}
