.intro {
	animation: 600ms ease 600ms 1 normal forwards running intro;
	display: flex;
	flex-direction: column-reverse;
	opacity: 0;
	width: 100%;
	padding-top: 1rem;

	a {
		align-self: flex-start;
	}
}
.intro .background {
	img {
		width: 100%;
		max-width: 400px;
		max-height: 456px;
		object-fit: cover;
		border-radius: 20px;
		margin: 0;
	}
}

@keyframes intro {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.intro h1 {
	font-family: "Rubik-Bold", sans-serif !important;
	font-weight: 500;
  line-height: 3rem;
	margin-bottom: 0.5rem;
	max-width: 20ch;
	z-index: 2;
}
.intro .description {
	display: flex;
	flex-direction: column;


	.techLogos {
		display: flex;
		flex-wrap: wrap;

		img {
			margin: 1rem;
			max-width: 2rem;
		}

		img+img {
			max-width: 1.5rem;
		}
	}
}
.intro h2 {
	font-size: medium;
	line-height: 1.5rem;
	margin: 0.5rem 0 0.25rem;
}

.intro p {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: medium;
	text-indent: 0.5rem;
}
@media (min-width: 760px) {
	.intro {
		flex-direction: row;
		justify-content: space-between;
	}

	.intro .background {
		width: 40%;
	}
	.intro .description {
		width: 58%;
	}
	.intro h1 {
		font-size: 3rem;
		text-align: left;
		line-height: 55px;
	}
	.intro h2 {
		font-size: 1.1rem
	}
}

@media (min-width: 900px) {
	.intro .description {
		.techLogos {
			display: flex;
			align-items: center;

			img {
				max-width: 3rem;
				height: 3rem;
			}
			img+img {
				max-width: 2.5rem;
				max-height: 2.5rem;
			}
		}
	}
}
